raytracer/target/classes/fastArray.class
raytracer/target/classes/com/magnus/Camera.class
raytracer/target/classes/com/magnus/Colour.class
raytracer/target/classes/com/magnus/Comp.class
raytracer/target/classes/com/magnus/Isect.class
raytracer/target/classes/com/magnus/Matrix.class
raytracer/target/classes/com/magnus/Ray.class
raytracer/target/classes/com/magnus/RayAlg.class
raytracer/target/classes/com/magnus/raytracer.class
raytracer/target/classes/com/magnus/raytracer$test.class
raytracer/target/classes/com/magnus/RObject.class
raytracer/target/classes/com/magnus/Sphere.class
raytracer/target/classes/com/magnus/Surf.class
raytracer/target/classes/com/magnus/TriangleMesh.class
raytracer/target/classes/com/magnus/Vec2.class
raytracer/target/classes/com/magnus/Vec3.class
raytracer/target/test-classes/com/magnus/AppTest.class
raytracer/target/test-classes/com/magnus/meshTest.class
raytracer/src/main/java/com/magnus/RayAlg.java
image.ppm
raytracer/target/test-classes/com/magnus/*.class
raytracer/target/classes/com/magnus/BVH.class
raytracer/target/classes/com/magnus/BVHNode.class
raytracer/target/classes/com/magnus/ROList.class
