raytracer/target/classes/fastArray.class
raytracer/target/classes/com/magnus/Camera.class
raytracer/target/classes/com/magnus/Colour.class
raytracer/target/classes/com/magnus/Comp.class
raytracer/target/classes/com/magnus/Isect.class
raytracer/target/classes/com/magnus/Matrix.class
raytracer/target/classes/com/magnus/Ray.class
raytracer/target/classes/com/magnus/RayAlg.class
raytracer/target/classes/com/magnus/raytracer.class
raytracer/target/classes/com/magnus/raytracer$test.class
raytracer/target/classes/com/magnus/RObject.class
raytracer/target/classes/com/magnus/Sphere.class
raytracer/target/classes/com/magnus/Surf.class
raytracer/target/classes/com/magnus/TriangleMesh.class
raytracer/target/classes/com/magnus/Vec2.class
raytracer/target/classes/com/magnus/Vec3.class
raytracer/target/test-classes/com/magnus/AppTest.class
raytracer/target/test-classes/com/magnus/meshTest.class
raytracer/src/main/java/com/magnus/RayAlg.java
image.ppm
raytracer/target/test-classes/com/magnus/*.class
raytracer/target/classes/com/magnus/BVH.class
raytracer/target/classes/com/magnus/BVHNode.class
raytracer/target/classes/com/magnus/ROList.class
raytracer/src/main/java/com/magnus/BVHNode.java
raytracer/image1.ppm
raytracer/image2.ppm
raytracer/image3.ppm
raytracer/image4.ppm
raytracer/image5.ppm
raytracer/image6.ppm
raytracer/image7.ppm
raytracer/out.png
raytracer/target/raytracer-1.0-SNAPSHOT.jar
raytracer/target/classes/com/magnus/AltCamera.class
raytracer/target/classes/com/magnus/BVHValues.class
raytracer/target/classes/com/magnus/GFG.class
raytracer/target/classes/com/magnus/RTread.class
raytracer/target/maven-archiver/pom.properties
raytracer/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
raytracer/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
raytracer/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
raytracer/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
raytracer/target/surefire-reports/com.magnus.AppTest.txt
raytracer/target/surefire-reports/com.magnus.bvhTest.txt
raytracer/target/surefire-reports/com.magnus.meshTest.txt
raytracer/target/surefire-reports/TEST-com.magnus.AppTest.xml
raytracer/target/surefire-reports/TEST-com.magnus.bvhTest.xml
raytracer/target/surefire-reports/TEST-com.magnus.meshTest.xml
*.ppm
*.png
*.zip
*.class
